html, body {
  margin: 0;
}
p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 35px;
  color: #aaa
}
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  height: inherit;
  overflow: hidden;
}

h1 {
  color: transparent;
  font-size: 2rem;
  letter-spacing: -1px;
  margin: 0;
  position: absolute;
  right: 5px;
  text-shadow: 0 0 4px white;
  top: -4px;

}
